
.header-inner-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 5px 35px;
  }
  
  
  .favourite{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  