.header-inner-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 35px;
}

a {
  text-decoration: none;
  color: darkcyan;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas.fa-home {
  margin-right: 20px;
}
